name: "Continuous Integration"

on:
  push:
    paths-ignore:
      - "doc/**"
  pull_request:
    paths-ignore:
      - "doc/**"

jobs:
  phpunit:
    name: PHP ${{ matrix.php-version }} (${{ matrix.dependency-versions }})

    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
        dependency-versions: [lowest, highest]
        experimental: [false]

    steps:
      - name: Repository checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: pcov

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Install dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # v3.1.1
        with:
          dependency-versions: ${{ matrix.dependency-versions }}
          composer-options: ${{ matrix.composer-options }}

      - name: Pull the docker image used by the tests.
        run: docker pull busybox:latest

      - name: Run PHPUnit test suite
        run: composer run-script test-ci
