name: "Static Analysis"

on:
  push:
    paths-ignore:
      - 'doc/**'
      - '.github/**'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '.github/**'

jobs:
  phpstan:
    name: PHPStan

    runs-on: ubuntu-latest

    steps:
    - name: Repository checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Setup PHP with PECL extension
      uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5
      with:
        php-version: 8.1
        tools: composer:v2
        coverage: none

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Install dependencies
      uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # v3.1.1
      with:
        dependency-versions: lowest

    - name: Run PHPStan
      run: composer run-script phpstan -- --no-progress
